*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* share style */
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    margin: 18px 35px 19px 36px;
    border-radius: 5px;
    font-weight: bold;
    /* font-size: 20px; */
    width: 150px;
    height: 65px;
    font-size: 20px;
    cursor: pointer;
}

.logo{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    margin: 46px 38px 0 230px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
